@font-face {
  font-family: "myfont";
  src: url("/starter-code/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #151515;
  margin: 0;
  box-sizing: border-box;
  padding-top: 20px;
  font-family: "myfont";
}

.ring1 {
  background-image: url("/starter-code/assets/images/pattern-rings.svg");
  width: 50%;
  height: 200px;
  background-repeat: no-repeat;
  position: absolute;
  left: -200px;
  background-size: 100% auto; /* Make the image twice as wide */
  top: 120px;
}

header {
  padding: 0 140px;
  display: flex;
  justify-content: space-between;
}
header h2 {
  color: #FFFFFF;
  position: relative;
  z-index: 100;
}
header ul {
  display: flex;
  list-style: none;
  gap: 32px;
  margin: auto 0;
  z-index: 100;
  position: relative;
}

.name {
  margin-top: 130px;
  padding: 0 140px;
}
.name h2 {
  color: #FFFFFF;
  font-size: 80px;
  width: 70%;
  position: relative;
  z-index: 100;
}
.name h2 span {
  text-decoration: underline;
  text-decoration-color: #4EE1A0;
  text-underline-offset: 20px;
}
.name .circle {
  position: absolute;
  right: 520px;
  z-index: 100;
}
.name .image {
  position: absolute;
  top: 0;
  right: 140px;
  width: 445px;
  height: 720px;
  z-index: 0;
}
.name p {
  color: #D9D9D9;
  width: 35%;
  line-height: 25px;
  padding-bottom: 30px;
}
.name button {
  border: none;
  border-bottom: 2px solid #4EE1A0;
  background: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #FFFFFF;
  font-family: "myfont";
  padding: 0 0 10px 0;
  letter-spacing: 3px;
}
.name button:hover {
  cursor: pointer;
  color: #4EE1A0;
  transition: 0.2s;
}

.subject {
  margin: 200px 140px 100px 140px;
  border: none;
  padding: 40px 0;
  border-top: 2px solid #D9D9D9;
}
.subject nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.subject nav div {
  color: #FFFFFF;
}
.subject nav div h1 {
  font-size: 40px;
}
.subject nav div p {
  color: #D9D9D9;
}
.subject .ring2 {
  background-image: url("/starter-code/assets/images/pattern-rings.svg");
  width: 20%;
  height: 200px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  /* Make the image twice as wide */
}

.project {
  padding: 0 140px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.project h1 {
  color: #FFFFFF;
  font-size: 76px;
  margin: auto 0;
}
.project button {
  border: none;
  border-bottom: 2px solid #4EE1A0;
  background: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #FFFFFF;
  font-family: "myfont";
  padding: 0 0 10px 0;
  letter-spacing: 3px;
  margin: auto 0;
}
.project button:hover {
  cursor: pointer;
  color: #4EE1A0;
  transition: 0.2s;
}

.showroom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 140px;
  gap: 20px;
}
.showroom .projects {
  width: 100%;
  position: relative;
}
.showroom .projects img {
  width: 100%;
}
.showroom .projects h2 {
  color: #FFFFFF;
}
.showroom .projects nav {
  display: flex;
  color: #D9D9D9;
  gap: 10px;
  font-family: "myfont";
  margin-top: -30px;
}
.showroom .projects .buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 30%;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.showroom .projects .buttons span {
  padding: 30px 0;
}
.showroom .projects .buttons span a {
  padding: 30px 0;
  text-transform: uppercase;
  font-weight: bold;
  color: #FFFFFF;
  background: none;
  border: none;
  border-bottom: 2px solid #4EE1A0;
  font-family: "myfont";
  text-decoration: none;
}
.showroom .projects .buttons span a:hover {
  color: #4EE1A0;
  transition: 0.2s ease;
  cursor: pointer;
}
.showroom .projects .tablet {
  margin-bottom: 30px;
}
.showroom .projects .tablet span {
  padding: 30px 0;
  margin-right: 20px;
}
.showroom .projects .tablet span a {
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: bold;
  color: #FFFFFF;
  background: none;
  border: none;
  border-bottom: 1px solid #4EE1A0;
  font-family: "myfont";
  text-decoration: none;
}
.showroom .projects .tablet span a:hover {
  color: #4EE1A0;
  transition: 0.2s ease;
  cursor: pointer;
}

footer {
  margin-top: 100px;
  background-color: #242424;
  padding: 40px 140px;
  position: relative;
}
footer .wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: none;
  padding: 0 0 100px 0;
  border-bottom: 2px solid #D9D9D9;
}
footer .wrap div {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
}
footer .wrap div h1 {
  color: #FFFFFF;
  font-size: 48px;
}
footer .wrap div p {
  color: #D9D9D9;
  width: 75%;
  line-height: 25px;
}
footer .wrap form {
  display: flex;
  flex-direction: column;
  width: 40%;
}
footer .wrap form div {
  width: 100%;
  position: relative;
}
footer .wrap form div input {
  padding: 20px;
  width: 95%;
  font-weight: bold;
  color: #D9D9D9;
  background: none;
  border: none;
  border-bottom: 1px solid #D9D9D9;
  font-family: "myfont";
}
footer .wrap form div input:placeholder-shown {
  text-transform: uppercase;
}
footer .wrap form div span {
  position: absolute;
  right: 0;
  top: 40%;
  transform: translateY(-50%);
  opacity: 0;
}
footer .wrap form div p {
  position: absolute;
  color: #FF6F5B;
  font-size: 12px;
  top: 75%;
  transform: translateY(-50%);
  opacity: 0;
}
footer .wrap form textarea {
  padding: 20px;
  width: 95%;
  text-transform: uppercase;
  font-weight: bold;
  color: #D9D9D9;
  background: none;
  border: none;
  border-bottom: 1px solid #D9D9D9;
  font-family: "myfont";
  resize: none;
  height: 80px;
}
footer .wrap form button {
  border: none;
  border-bottom: 2px solid #4EE1A0;
  background: none;
  text-transform: uppercase;
  font-size: 14px;
  color: #FFFFFF;
  font-family: "myfont";
  padding: 0 0 10px 0;
  letter-spacing: 3px;
  align-self: flex-end;
  margin-top: 30px;
}
footer .wrap form button:hover {
  cursor: pointer;
  color: #4EE1A0;
  transition: 0.2s;
}
footer .wrap header {
  padding: 0 140px;
  display: flex;
  justify-content: space-between;
}
footer .wrap header h2 {
  color: #FFFFFF;
}
footer .wrap header ul {
  display: flex;
  list-style: none;
  gap: 32px;
  margin: auto 0;
  z-index: 100;
  position: relative;
}
footer nav {
  display: flex;
  justify-content: space-between;
}
footer nav h2 {
  color: #FFFFFF;
}
footer nav ul {
  display: flex;
  list-style: none;
  gap: 34px;
  margin: auto 0;
}
footer nav ul li svg:hover {
  cursor: pointer;
}
footer nav ul li svg:hover path {
  fill: #4EE1A0;
  transition: 0.2s;
}
footer .ring3 {
  background-image: url("/starter-code/assets/images/pattern-rings.svg");
  width: 50%;
  height: 200px;
  background-repeat: no-repeat;
  position: absolute;
  left: -200px;
  background-size: 100% auto; /* Make the image twice as wide */
  bottom: 100px;
}

@media (max-width: 1125px) {
  header, .project, .showroom {
    padding: 0 60px;
  }
  .name {
    padding: 0 60px;
  }
  .name .image {
    right: 60px;
  }
  .subject {
    margin: 200px 60px 100px 60px;
  }
  footer {
    padding: 40px 60px;
  }
}
@media (max-width: 1024px) {
  header, .project, .showroom {
    padding: 0 30px;
  }
  .name {
    padding: 0 30px;
  }
  .name .image {
    right: 0;
  }
  .name .circle {
    right: 0;
    bottom: 100px;
  }
  .subject {
    margin: 200px 30px 100px 30px;
  }
  .subject nav {
    grid-template-columns: repeat(2, 1fr);
  }
  footer {
    padding: 40px 30px;
  }
  footer .wrap {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  footer .wrap div {
    width: 100%;
    height: 100%;
  }
  footer .wrap div p {
    width: 70%;
    text-align: center;
    margin: 0 auto;
  }
  footer .wrap form {
    width: 100%;
  }
  footer .wrap form div p {
    width: 100%;
    top: 70px;
  }
}
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }
  .name {
    align-items: center;
    text-align: center;
    margin-top: 60px;
  }
  .name h2 {
    font-size: 36px;
    width: 100%;
  }
  .name .image {
    position: relative;
    width: 365px;
    height: 580px;
    z-index: 0;
  }
  .name p {
    width: 100%;
  }
  .subject {
    margin-top: 100px;
  }
  footer nav {
    flex-direction: column;
    align-items: center;
  }
  footer ul {
    margin: 0;
  }
}
@media (max-width: 580px) {
  .project h1 {
    font-size: 32px;
  }
  .showroom {
    grid-template-columns: repeat(1, 1fr);
  }
  .subject {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .subject nav {
    grid-template-columns: repeat(1, 1fr);
  }
  .name .image {
    position: relative;
    width: 70%;
    height: 60%;
  }
  footer .wrap div p {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
